/**
 * -------------------------------------------------
 * TABLE OF CONTENTS:
 *
 * 1.0 RESET
 * 2.0 IMPORTS
 * 3.0 MIXINS
 * 4.0 VARIABLES
 * 5.0 EFFECTS
 * 6.0 GLOBALS
 * 7.0 HEADER
 *   7.1 Navigation
 * 8.0 CONTENT
 * 9.0 FOOTER
 * 10.0 META
 * --------------------------------------------------
*/

/**
 * 1.0 $RESET
 * -----------------------------------------------------------------------------
 */

@import "reset";

/**
 * 2.0 $IMPORTS
 * -----------------------------------------------------------------------------
 */

@import "compass/css3";

/**
 * 3.0 $MIXINS
 * -----------------------------------------------------------------------------
 */



/**
 * 4.0 $VARIABLES
 * -----------------------------------------------------------------------------
 */

$link-teal: #298599;
$hover-teal: #16CBB8;

$sans-serif: 'Roboto', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
$serif: 'PT Serif', Georgia, serif;


/**
 * 5.0 $EFFECTS
 * -----------------------------------------------------------------------------
 */

.btn {
  position: relative;
  border: 3px solid #000;
  border-radius: 2px;
  box-shadow: 0 4px $link-teal;
  padding: 1rem 5rem;
  background: #FFF;

  font-family: $sans-serif;
  text-align: center;

    &:after {

      content: '';
      position: absolute;
      z-index: -1;


    }

    &:hover {
      box-shadow: 0 4px $hover-teal;
    }

    &:active {
      box-shadow: 0 0 $hover-teal;
      top: 4px;
    }

}

/**
 * 6.0 $GLOBALS
 * -----------------------------------------------------------------------------
 */

.page {
  min-height: 100%;
  margin-bottom: -158px;
}
.page:after {
  content: "";
  display: block;
}
.page:after, .footer-container {
  height: 158px;
}


.globals {

a {
  color: $link-teal;
  &:hover {
    color: $hover-teal;
  }
}

h1.h1, h2.h2, h3.h3, h4.h4, label {
  font-family: $sans-serif;
  font-weight: bold;
}

}

.grid {
  margin: 0 auto;
  max-width: 96rem;
  padding: 0 2.4rem;
}



/**
 * 7.0 $HEADER
 * -----------------------------------------------------------------------------
 */

.nav-container {

  width: 100%;

  color: #FFF;
  font-size: 1.6rem;

  z-index: 10;

  a {
    color: #000;
  }


}

.nav-title-wrapper {
  float: left;
  .nav-title {
    padding: 2rem;
  }
}

.nav-menu {
  float: right;
  margin-bottom: 2rem;
  font-variant: small-caps;
  .menu-item {
    float: left;
    a {
      display: block;
      padding: 1rem 2rem;
      @include transition(all 150ms ease 0s);
      &:hover {
        background: #F9F9F9;
        color: $hover-teal;
      }
    }
  }
}

.current_page_item {
  font-weight: bold;
  a {
    color: $link-teal;
  }
}

.search-box-wrapper {
  display: none;
}

/**
 * 8.0 $CONTENT
 * -----------------------------------------------------------------------------
 */

.content-container {
  position: relative;
  color: #333;
  font-size: 1.6rem;
  font-family: $serif;
}

.contact-page {
  height: 100%;
}

.page-header {
  margin-bottom: 2.4rem;
  padding: 2.4rem;
  background: #000;
}


.page-title {
  color: #FFF;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}



/* Home */
.section-block {
  margin-bottom: 4.8rem;
  padding: 2.4rem 0;
  h3.h3 {
    margin-bottom: 2.4rem;
    font-size: 3.2rem;
    line-height: 1;
  }
}

.frontpage-intro {
  background: #000;
  color: #FFF;
  line-height: 1;
  span {
    display: block;
  }
  .ozy {
    display: inline;
  }
  .frontpage-tagline {
    font-size: 9.6rem;
    font-weight: bold;
  }
}

.frontpage-services {
  .services-block {
    float: left;
    width: 33.33%;
    text-align: center;
  }
  .services-block:nth-of-type(1) {
    padding-right: 1.6rem;
  }
  .services-block:nth-of-type(2) {
    padding: 0 0.8rem;
  }
  .services-block:nth-of-type(3) {
    padding-left: 1.6rem;
  }
}


/* About */

.about-main-col {
  float: left;
  width: 70%;
  padding-right: 2.4rem;

.about-image {
  margin-bottom: 2.4rem;
}

.about-article {

  margin-bottom: 2.4rem;
  p {
    margin-bottom: 1.2rem;
  }

  .about-tagline {
    font-size: 3.6rem;
    font-weight: lighter;
    line-height: 1;
  }

  .about-title {
    font-size: 2.4rem;
  }

}

}

.about-aside-col {
  float: left;
  width: 30%;

  .my-resume h4.h4 {

    a {
      display: block;
      border: 0.2rem solid $link-teal;
      border-radius: 0.3rem;
      padding: 0.5rem 0;
      font-size: 2.4rem;
      font-weight: normal;
      text-align: center;
      @include transition(all 150ms ease 0s);
      &:hover {
        border: 0.2rem solid $hover-teal;
        background: $hover-teal;
        color: #FFF;
      }
    }

  }

  .my-profile {
    dt {
      float: left;
      padding-right: 1rem;
    }
  }


  div {
    margin-bottom: 2.4rem;
    border-bottom: 0.3rem solid #000;
    padding-bottom: 2.4rem;
    font-size: 1.4rem;
    .aside-title {
      font-size: 1.6rem;
    }
    ul li {
      a {
        display: block;
        border-bottom: 0.1rem dotted #888;
        padding: 0.7rem 0.25rem;
        &:hover {
          background: #F9F9F9;
        }
      }
    }

  }
}

.contact-form-container {
  position: absolute;
  top: 10.4rem;
  width: 60rem;
  padding: 2.4rem;
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  .contact-message {
    margin-bottom: 2.4rem;
    font-style: italic;
  }
  .contact-form {
    font-size: 1.6rem;

    fieldset {
      margin-bottom: 1.2rem;
    }

    .contact-field {
      display: block;
      width: 100%;
      margin: 0 0 1.2rem 0;
      border: 1px solid #DDDDDD;
      padding: 1rem;
      font-size: 1.6rem;
      @include transition(all 300ms ease-in-out);
      &:focus {
        outline: none;
        box-shadow: 0 0 8px rgba(81, 203, 238, 1);
        border: 1px solid rgba(81, 203, 238, 1);
      }
    }
    input[type="submit"] {
      float: right;
      margin: 0;
      border: 0;
      background: #000;
      color: #FFF;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }

      font-size: 2.4rem;
      @extend .btn;

    }



  }
}

.map {
  margin-top: -2.4rem;
}

.success, .error {
  display: none;
}

.required {
  color: red;
}


.list-posts-title {
  font-size: 4.8rem;
  line-height: 1;

}

.archives-link {
  display: block;
  border-bottom: 1px solid #888;
  padding: 1rem 0;
}

.archives-post-date {
  float: left;
  line-height: 2.4rem;
  color: #888;
  font-family: $sans-serif;
  text-transform: uppercase;

  &:after {
    content: "•";
    padding: 0.6rem;
  }
}

.archives-post-cat {
  float: left;
  font-family: $sans-serif;
  line-height: 2.4rem;
  margin-right: 4.8rem;
  color: #888;
}

.archives-post-title {
  float: left;
  font-size: 2.4rem;
  line-height: 1;
}

.one-post {
  max-width: 72rem;
}

.one-post-title {
  font-size: 4.8rem;
  line-height: 1;
}

.one-post-meta {

  margin-bottom: 4.8rem;
  font-family: $sans-serif;
  font-size: 1.2rem;
  line-height: 1;

  time {
    float: left;
    &:after {
      content: "|";
      padding: 0 0.6rem;
    }
  }
  .posts-comments {
    float: left;
  }
}

.one-post-content {
  margin-bottom: 4.8rem;
  border-bottom: 0.3rem solid #000;
  padding-bottom: 4.8rem;
}

.one-post-comments {
  max-width: 72rem;

  .comments-title {
    margin-bottom: 2.4rem;
    font-family: $sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.comment-list {
  margin-bottom: 4.8rem;
  border-bottom: 0.3rem solid #000;
  padding-bottom: 2.4rem;
  .comment {
  padding: 2.4rem 0;
    border-top: 0.1rem solid #DCDCDC;

    .comment-author {
      margin-bottom: 1.2rem;
      font-size: 2.4rem;
      font-family: $sans-serif;
      line-height: 1;
      .avatar {
        float: left;
        margin-right: 2.4rem;
        border-radius: 50%;
        width: 7.2rem;
        height: 7.2rem;
      }
    }

    .comment-meta {
      margin-bottom: 2.4rem;
      font-family: $sans-serif;
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    .says {
      display: none;
    }

    .reply {
      display: none;
    }

    p {
      padding-left: 9.6rem;
    }

  }
}

.comment-form {
  overflow: auto;
  p {
    margin-bottom: 1.2rem;
  }
  label {
    display: block;
  }
  textarea {
    width: 100%;
  }
  .form-submit {
    float: left;
    input[type="submit"] {

      margin: 0;
      border: 0;
      background: #000;
      color: #FFF;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }

      @extend .btn;
    }
  }
}

.posts-container {

  .posts {
    max-width: 72rem;
    margin-bottom: 2.4rem;
    border-bottom: 0.1rem solid #DCDCDC;
    padding-bottom: 2.4rem;
  }
  .post-meta {
    margin-bottom: 4.8rem;
    font-family: $sans-serif;
    font-size: 1.2rem;
    line-height: 1;
    time {
      float: left;
      &:after {
        content: "|";
        padding: 0 0.6rem;
      }
    }
    .post-comments {
      float: left;
    }
  }
}


/* Portfolio */




/**
 * 9.0 $FOOTER
 * -----------------------------------------------------------------------------
 */

.footer-container {
  padding: 4rem 2rem;
  background: #000;
  color: #FFF;
  font-family: $sans-serif;
  a {
    color: #FFF;
  }

  .footer-about {

    img {
      float: left;
      width: 30%;
      padding-right: 2.4rem;
      border-radius: 50%;
    }
    .footer-desc {
      width: 70%;
      float: left;
      h3 {
        font-size: 2.4rem;
        line-height: 1;
      }
    }

  }


  .footer-nav {
    li {
      float: left;
      margin-right: 1rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .copyright {
    color: #888;
    font-size: 1.2rem;
    a {
      color: #E9E9E9;
      &:hover {
        color: #FFF;
      }
    }
  }

}

/**
 * 10.0 $META
 * -----------------------------------------------------------------------------
 */
